@import '../../shared/css/general.scss';

.post-section {
    font-size:$post-body-font-size;
    width: 85%;
    min-height: 90vh;
    margin: 20px auto;
    text-align: center;
    background: $base-color-dark;
    padding: 4%;
    border-radius: 6px;
    line-height: 32px;

    .post-actions-section {
        display: flex;
        justify-content: space-between;

        a:hover {
            cursor: pointer;
        }

        .likes-section {
            display: flex;
            .heart-img-wrapper{
                width: 20px;
                img {
                    width: 100%;
                }
                margin-left: 10px;
            }
        }
        .owner-action-section {
            position: relative;
            svg {
                margin-right: 5px;
            }
            .confirmSection {
                position: absolute;
                top: -105px;
                right: -65px;
                width: 360px;
                border: 1px solid $accent-yellow-color-dark;
                border-radius: 6px;
                padding: 5px;
                background: rgba($color: #F9C807 , $alpha: 0.5);
                transition: opacity 0.5s;
                button{
                    margin: 0 10px;
                    border: 1px solid #0d6efd;
                    padding: 0 10px;
                    border-radius: 6px;
                    color: #0d6efd;
                }

                div{
                    margin-top: 5px;
                }

            }
    
            .hideConfirmSection {
                position: absolute;
                top: -105px;
                right: -65px;
                width: 360px;
                border: 1px solid $accent-yellow-color-dark;
                border-radius: 6px;
                padding: 5px;
                background: rgba($color: #F9C807 , $alpha: 0.5);
                transition: opacity 0.5s;
                opacity: 0;

                button{
                    margin: 0 10px;
                    border: 1px solid #0d6efd;
                    padding: 0 10px;
                    border-radius: 6px;
                    color: #0d6efd;
                }

                div{
                    margin-top: 5px;
                }
            }
        }
        
    }
   
    .img-wrapper {
        width: 70%;
        margin: 30px auto;
        img {
            width: 100%;
            border: 3px solid $accent-yellow-color-dark;
            border-radius: 6px;
        }

        @media screen and (max-width: 950px) {
            width: 85%;
        }
 
        @media screen and (max-width: 610px) {
            width: 100%;
        }
    }

   

    h2 {
        font-size: 3.2rem;
    }

    .source-link{
        margin: 0 5px;
    }
}

.action-link:hover, .source-link:hover {
    color: $accent-yellow-color-dark;
}