@import '../../shared/css/general.scss';

.hero-section {
    background: url('../../../public/images/lucas-wesney-ZNz5UPRb2N8-unsplash.jpg') fixed;
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100%;
}


.hero-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heroh1 {
   margin: 10% 0 10% 0;
   font-size: $hero-title-size;
   text-align: center;
}

span.yellow-accent {
    margin: 0 10px 0 10px;
    color: $accent-yellow-color-dark;
}

.description-section {
    width: 100%;
    background: $base-color-dark;
    padding: 5% 0 5% 0;
    p{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        font-size: $body-font-size-large;

        a{
            color: $accent-yellow-color-light;
            text-decoration: underline;
        }

        a:hover {
            color: $accent-yellow-color-dark;
        }
    }
}