@import '../../shared/css/general.scss';

.page-wrapper {
    min-height: 90vh;
    width: 80%;
    margin: 50px auto;
    padding: 2%;
    background: $base-color-dark;
    border-radius: 8px;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $accent-yellow-color-dark;
        padding-bottom: 10px;
        .user-info-section {
            display: flex;
            align-items: center;
            
            .img-wrapper {
                margin-right: 10px;
                border: 2px solid $accent-yellow-color-dark;
                border-radius: 50%;
                width: 77px;
                height: 77px;
                position: relative;
                svg{
                    position: absolute;
                    left: 9px;
                }
            }    
        }

        .buttons-section {
            button {
                border: 2px solid $accent-yellow-color-dark;
                padding: 10px 90px;
                border-radius: 25px;
                background: $base-color-light;
            }

            .active {
                background: #f5e08b;
            }

            .not-active:hover {
                    background: #f5e08b;
            }

            button:nth-child(1) {
                margin-right: 30px;
            }
        }

    }

    .main-section {
        .page-heading{
            text-align: center;
            margin-top: 20px;
            text-transform: uppercase;
        }
    }
}