@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

$body-font : 'Noto Sans KR', sans-serif;
$secondary-font: 'Playfair Display', serif;

$base-color-light: #f7f9fb;
$base-color-dark: #EAF0FC;
$accent-yellow-color-light: #F9C807;
$accent-yellow-color-dark: #e8ba02;

$logo-font-size: 1.6rem;
$menu-font-size: 1.1rem;

@mixin menu-flex {
    display: flex;
    align-content: center;

    li {
        padding-right: 12px;
    }
}