@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

$body-font : 'Noto Sans KR', sans-serif;
$secondary-font: 'Playfair Display', serif;

$base-color-light: #f7f9fb;
$base-color-dark: #EAF0FC;
$accent-yellow-color-light: #F9C807;
$accent-yellow-color-dark: #e8ba02;
$accent-blue-color: #252e48;

$logo-font-size: 1.6rem;
$menu-font-size: 1.1rem;
$hero-title-size: 4.3rem;
$body-font-size-small: 2rem;

@mixin menu-flex {
    display: flex;
    align-content: center;

    li {
        padding-right: 20px;
    }
}

@mixin form-style {
    background: $base-color-dark;
    padding: 11 % 20%;
    min-height: 90vh;

    form {
        background: #f7f9fb;
        display: flex;
        width: 49%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        padding: 3% 4%;
        border-radius: 8px;
        border: 1px solid $accent-yellow-color-light;

        div {
            width: 100%;
            position: relative;
        }

        p.error {
            position: absolute;
            bottom: 0;
            color: rgb(237, 48, 48);
            font-size: 1rem;
        }

        p.hidden {
            display: none;
        }

        input {
            width: 100%;
            margin-bottom: 25px;
            padding: 18px 15px;
            font-family: Verdana;
            letter-spacing: 0.125em;
            border-radius: 6px;
            border: 1px solid $accent-yellow-color-light;
            font-size: 0.8rem;
        }

        .error-input {
            border: 1px solid rgb(237, 48, 48);;
        }

        input:focus {
            outline: none;
            border: 2px solid $accent-yellow-color-dark;
            background: rgb(248, 248, 248);
        }

        h3 {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 2.3rem;
            margin-bottom: 20px;
            color: $accent-blue-color;
            text-transform: uppercase;
        }

        button {
            width: 100%;
            padding: 10px 0;
            font-size: 1rem;
            text-transform: uppercase;
            border: 1px solid $accent-yellow-color-light;
            background: $accent-yellow-color-light;
            color: #fff;
            border-radius: 7px;
            margin-top: 20px;
        }

        button:hover {
            cursor: pointer;
            background: $accent-yellow-color-dark;
        }

        p {
            color: $accent-blue-color;
            font-size: 0.9rem;
            margin-top: 10px;
            a {
                color: $accent-yellow-color-light;
            }
        }
    }
}