@import '../../shared/css/general.scss';

.footer {
    background: $base-color-light;
    padding: 20px;
    border-top: 2px solid $base-color-dark;

    h5 {
        text-align: center;
        font-size: 0.9rem;
        color: rgb(105, 99, 99);
    }
}