@import '../../shared/css/general.scss';

.form-wrapper {
    @include form-style;

}

div .form-wrapper {
    @media screen and (max-width: 850px) {
        padding: 7%;
    }

    @media screen and (max-width: 500px) {
        padding: 4%;
    }

    @media screen and (max-width: 400px) {
        form {
            margin-top: 10%;
        }
    }
}