@import '../../../shared/css/general.scss';

.posts-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;

    @media screen and (max-width: 1670px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}

.no-results {
    text-align: center;
    margin-top: 100px;
    a {
        color: $accent-yellow-color-dark;
    }
}