@import './shared/css/general.scss';

*{
    font-family: $body-font;
}

.header {
    border-bottom: 2px solid $base-color-dark;
}

main {
    background: $base-color-light;
    position: relative;
    min-height: 100vh;
}

