@import './shared/css/general.scss';

*{
    font-family: $body-font;
}

.header {
    border-bottom: 2px solid $base-color-dark;
}

main {
    background: $base-color-light;
    position: relative;
    min-height: 100vh;

    @media screen and(max-width: 770px) {
        margin-top: 120px;
    }
}

